.top-container{
  background-color: #B5EAEA;
  text-align: center;

}
body{
  font-family: 'Hina Mincho', serif;
}
h1{
  color:#66BFBF;
  font-size: 4rem;
   font-family: 'Satisfy', cursive;
padding-top: 100px;
}
h3{
  color:#66BFBF;
  font-size: 1.5rem;
}
h2{
  color:#66BFBF;
  font-size: 2rem;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
  padding-top: 20px;
}
.bottom-cloud{
  position: absolute;
  bottom: 200px;
  left: 400px;

}
.my-image{
  width: 200px;
  height: 200px;
  border-radius: 100%;
}
.middle-container{
  text-align:center;

}
.skills-image{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  float: left;
  margin: 30px;
}
.baking-image{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  float: right;
}
.skills{
  padding-left: 400px;
  padding-right: 400px;
}
.profile{
  padding:50px 150px;
}
hr {
border-style: none;
border-top-style: dotted;
border-color: #DDDDDD;
border-width: 5px;
width: 5%;
margin: 50px auto;
}
.btn{

  background:  #66BFBF;
background-image: -webkit-linear-gradient(top,  #66BFBF, #1E62D0);
background-image: -moz-linear-gradient(top,  #66BFBF, #1E62D0);
background-image: -ms-linear-gradient(top,  #66BFBF, #1E62D0);
background-image: -o-linear-gradient(top,  #66BFBF, #1E62D0);
background-image: -webkit-gradient(to bottom,  #66BFBF, #1E62D0);
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
color: #FFFFFF;
  font-family: 'Merriweather', serif;
font-size: 15px;

padding: 5px;
-webkit-box-shadow: 1px 1px 20px 0 #000000;
-moz-box-shadow: 1px 1px 20px 0 #000000;
box-shadow: 1px 1px 20px 0 #000000;
text-shadow: 1px 1px 20px #000000;
border: solid  #66BFBF 1px;
text-decoration: none;
display: inline-block;
cursor: pointer;
text-align: center;





 }
 .btn:hover{
   border: solid #337FED 1px;
  background: #1E62D0;
  background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
  background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
 }
.contact-me{
 font-size: 1.5rem;
}
.bottom-container{
  background-color:#66BFBF;
  text-align: center;
  padding:50px;
  color: white;
  font-size: 1.5rem;
}
.footer-link{
  color: #297F87;
  text-decoration: none;
  margin:0px 10px;
  font-size: 1rem;
}
.footer-link:hover{
  color: white;
}
